Checks:
  - bugprone-*
  - cert-*
  - clang-analyzer-*
  - cppcoreguidelines-*
  - misc-*
  - modernize-use-using
  - performance-*
  - readability-identifier-length
  - readability-identifier-naming
  - readability-magic-numbers

WarningsAsErrors:
  - '*'

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.UnionCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-magic-numbers.IgnoreMagicNumbersRegex
    value: '^0|1$'  # allows 0 and 1 as exceptions
  - key: cppcoreguidelines-pro-type-const-cast
    value: 'true'
  - key: cppcoreguidelines-pro-type-vararg
    value: 'true'
  - key: bugprone-use-after-move
    value: 'true'
  - key: bugprone-sizeof-expression
    value: 'true'

